In [3]:
print('Hello')

Hello

In [1]:
a = 5

In [2]:
a

5

In [4]:
type(a)

int

In [5]:
n= True

In [6]:
m = False

In [7]:
n+m

1

In [8]:
type(m)

bool

In [9]:
n/m

ZeroDivisionError: division by zero

In [10]:
v= 5+8j

In [11]:
type(v)

complex

In [12]:
v.real

5.0

In [14]:
v.imag

8.0

In [15]:
print(v)

(5+8j)

In [16]:
s='istiyak'

In [17]:
type(s)

str

In [19]:
print(s[0:3])

ist

In [21]:
s[4]

'y'

In [22]:
s[-3]

'y'

In [23]:
s[-8]

IndexError: string index out of range

In [24]:
s[-6]

's'

In [28]:
s[-6:-1]

'stiya'

In [29]:
s[1:6:2]

'sia'

In [30]:
s[::-1]

'kayitsi'

In [32]:
s[-2:-6:1]

''

In [33]:
s="india is my country"

In [34]:
len(s)

19

In [36]:
s.find('m')

9

s.tab = give u all the available fn in python 
s.find('m') = shift+ tab give u all about that fn 
shift + forward slac  multiline comment

In [37]:
s.upper()

'INDIA IS MY COUNTRY'

In [38]:
s.lower()

'india is my country'

In [39]:
s.title()

'India Is My Country'

In [40]:
s.capitalize()

'India is my country'

In [41]:
s+1  # string+int wrong

TypeError: can only concatenate str (not "int") to str

In [43]:
s+"1"  # str+str

'india is my country1'

# List

In [44]:
l =[1,234,'istiyak',True,5+8j,345.65]

In [45]:
type(l)

list

In [46]:
l[0]

1

In [47]:
l[::-1]

[345.65, (5+8j), True, 'istiyak', 234, 1]

In [48]:
l[-2]

(5+8j)

In [49]:
l[0:99:2]

[1, 'istiyak', (5+8j)]

In [52]:
z="istiyak_alam"

In [53]:
l.append(z)

In [54]:
l

[1,
 234,
 'istiyak',
 True,
 (5+8j),
 345.65,
 'india is my country',
 'istiyak_alam']

In [60]:
l[6][0:3]

'ind'

In [61]:
m=[1, 'istiyak', (5+8j)]

In [62]:
m*3

[1, 'istiyak', (5+8j), 1, 'istiyak', (5+8j), 1, 'istiyak', (5+8j)]

In [63]:
len(m)

3

In [64]:
m.append('man')

In [65]:
m

[1, 'istiyak', (5+8j), 'man']

In [66]:
l.append(m)

In [67]:
l

[1,
 234,
 'istiyak',
 True,
 (5+8j),
 345.65,
 'india is my country',
 'istiyak_alam',
 [1, 'istiyak', (5+8j), 'man']]

In [68]:
l[-1][1]

'istiyak'

In [69]:
m.extend('man')

In [70]:
m

[1, 'istiyak', (5+8j), 'man', 'm', 'a', 'n']

In [71]:
l.extend(m)

In [72]:
l

[1,
 234,
 'istiyak',
 True,
 (5+8j),
 345.65,
 'india is my country',
 'istiyak_alam',
 [1, 'istiyak', (5+8j), 'man', 'm', 'a', 'n'],
 1,
 'istiyak',
 (5+8j),
 'man',
 'm',
 'a',
 'n']

In [74]:
m.insert(2,'asddf')

In [75]:
m

[1, 'istiyak', 'asddf', (5+8j), 'man', 'm', 'a', 'n']

In [77]:
m.insert(-1,'aaaa')

In [78]:
m

[1, 'istiyak', 'asddf', (5+8j), 'man', 'm', 'a', 'a', 'aaaa', 'n']

In [79]:
m.pop(-1)

'n'

In [80]:
m

[1, 'istiyak', 'asddf', (5+8j), 'man', 'm', 'a', 'a', 'aaaa']

In [82]:
m.remove('aaaa')

In [84]:
m

[1, 'istiyak', 'asddf', (5+8j), 'man', 'm', 'a', 'a']

In [85]:
l

[1,
 234,
 'istiyak',
 True,
 (5+8j),
 345.65,
 'india is my country',
 'istiyak_alam',
 [1, 'istiyak', 'asddf', (5+8j), 'man', 'm', 'a', 'a'],
 1,
 'istiyak',
 (5+8j),
 'man',
 'm',
 'a',
 'n']

In [87]:
l[8].pop(2)

'asddf'

In [88]:
l

[1,
 234,
 'istiyak',
 True,
 (5+8j),
 345.65,
 'india is my country',
 'istiyak_alam',
 [1, 'istiyak', (5+8j), 'man', 'm', 'a', 'a'],
 1,
 'istiyak',
 (5+8j),
 'man',
 'm',
 'a',
 'n']

In [89]:
# string is a immmutable object

In [90]:
l.reverse() # its permanent [::-1]=its temperory

In [91]:
l

['n',
 'a',
 'm',
 'man',
 (5+8j),
 'istiyak',
 1,
 [1, 'istiyak', (5+8j), 'man', 'm', 'a', 'a'],
 'istiyak_alam',
 'india is my country',
 345.65,
 (5+8j),
 True,
 'istiyak',
 234,
 1]

In [94]:
l2=[1,3,5,3,6,7,8,9]

In [96]:
l2.sort()

In [97]:
l2

[1, 3, 3, 5, 6, 7, 8, 9]

In [ ]:
l3

In [98]:
l2.sort(reverse=True)

In [99]:
l2

[9, 8, 7, 6, 5, 3, 3, 1]

In [100]:
l2.index(3)

5

In [102]:
l2.count(3)

2

In [104]:
l3= 'istiyak'

In [105]:
l3

'istiyak'

In [106]:
l3.replace('ist','IST')

'ISTiyak'

# List

In [5]:
name = ['ram','lak','shyam',3,4]

In [6]:
name

['ram', 'lak', 'shyam', 3, 4]

In [7]:
name[3:]

[3, 4]

In [8]:
name[1:2]

['lak']

In [9]:
name[0:2]

['ram', 'lak']

In [10]:
name+name

['ram', 'lak', 'shyam', 3, 4, 'ram', 'lak', 'shyam', 3, 4]

In [13]:
name*2

['ram', 'lak', 'shyam', 3, 4, 'ram', 'lak', 'shyam', 3, 4]

# Tuple

In [14]:
name1 = ('istiyak', 'lak', 'shyam', 3, 4)

In [15]:
name1

('istiyak', 'lak', 'shyam', 3, 4)

In [16]:
name1[2:]

('shyam', 3, 4)

In [17]:
name1[0:2]

('istiyak', 'lak')

In [18]:
name1+name1

('istiyak', 'lak', 'shyam', 3, 4, 'istiyak', 'lak', 'shyam', 3, 4)

In [20]:
name1[3]='hello' #tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [21]:
a = [10,20]
b=a
b += [30,40]

In [22]:
a

[10, 20, 30, 40]

In [107]:
t= ('istiyak', 'lak', 'shyam', 3, 4)

In [108]:
t

('istiyak', 'lak', 'shyam', 3, 4)

In [109]:
type(t)

tuple

In [111]:
t[4] = 'raju'

TypeError: 'tuple' object does not support item assignment

In [112]:
t[::-1]

(4, 3, 'shyam', 'lak', 'istiyak')

In [113]:
t.count(4)

1

In [116]:
t.index('shyam')

2

In [115]:
t

('istiyak', 'lak', 'shyam', 3, 4)

# SET

In [117]:
s1={}

In [118]:
type(s1)

dict

In [119]:
s2={1,2,3,4,3,5,3,5,6,6,75,6,43,3,6}

In [121]:
type(s2)

set

In [122]:
s2

{1, 2, 3, 4, 5, 6, 43, 75}

In [124]:
s2={1,2,3,4,3,5,3,5,6,6,75,6,43,3,6,'istiyak','Istiyak'}

In [125]:
s2

{1, 2, 3, 4, 43, 5, 6, 75, 'Istiyak', 'istiyak'}

In [130]:
s3={345,67,867,34,87,2,56467,34,54,56,98}

In [132]:
s3 #set will not arrange a data set in assending order
#it will only give u distinct record

{2, 34, 54, 56, 67, 87, 98, 345, 867, 56467}

In [133]:
s3.add(5)

In [134]:
s3

{2, 5, 34, 54, 56, 67, 87, 98, 345, 867, 56467}

# Dictonary

In [142]:
d={1:"istiyak",2:'trimark','kay':'value',True:'false'}

In [144]:
d.keys()

dict_keys([1, 2, 'kay'])

In [145]:
d.values()

dict_values(['false', 'trimark', 'value'])

In [146]:
d[1]

'false'

In [147]:
d[2]

'trimark'

In [148]:
d2={'name':'istiyak','name':'alam'}

In [149]:
d2['name']

'alam'

In [150]:
d3={'name':'albanero','cource':{'name':'istiyak','name':'alam'}}

In [151]:
d3

{'name': 'albanero', 'cource': {'name': 'alam'}}

In [155]:
d4={'n':[2,3,45,6],"m":{34,56,78},'b':(2,4,6,"tsrss"),'TVS':{'key':'Raju'}}

In [156]:
d4

{'n': [2, 3, 45, 6],
 'm': {34, 56, 78},
 'b': (2, 4, 6, 'tsrss'),
 'TVS': {'key': 'Raju'}}

In [157]:
d4['TVS']['key']

'Raju'

In [159]:
d4['hero']=['Honda']

In [160]:
d4

{'n': [2, 3, 45, 6],
 'm': {34, 56, 78},
 'b': (2, 4, 6, 'tsrss'),
 'TVS': {'key': 'Raju'},
 'hero': ['Honda']}

In [161]:
del d4['n']

In [162]:
d4

{'m': {34, 56, 78},
 'b': (2, 4, 6, 'tsrss'),
 'TVS': {'key': 'Raju'},
 'hero': ['Honda']}

In [164]:
list(d4.items())

[('m', {34, 56, 78}),
 ('b', (2, 4, 6, 'tsrss')),
 ('TVS', {'key': 'Raju'}),
 ('hero', ['Honda'])]

In [166]:
d4.pop('m')

{34, 56, 78}

# If else

In [173]:
marks=int(input('enter your input: '))
if marks >= 80:
    print('Topper')
elif marks >= 60 and marks < 80:
    print('mediater')
elif marks >=40 and marks<60:
    print('average')
else:
    print('fail')

enter your input90
Topper

In [174]:
marks

90

In [176]:
p = int(input('enter price: '))
if p>1000:
    print("don't buy")
else:
    print('Go for it')

enter price: 200
Go for it

In [185]:
l1=[1,2,3,4,5,7,5,8,9,9,0,10]
l2=[]
for i in l1:
    i+=1
    l2.append(i)

In [186]:
l2

[2, 3, 4, 5, 6, 8, 6, 9, 10, 10, 1, 11]

In [190]:
l3=['rahul','istiyak','cool','space']
l4=[]
for i in l3:
    l4.append(i.upper())

In [191]:
l4

['RAHUL', 'ISTIYAK', 'COOL', 'SPACE']

In [195]:
l6=[]
l7=[]
l5 = [1,2,3,4,4,5,67,'raju','kumar',56,65.1,'kernal']
for i in l5:
    if type(i) == int or type(i)==float:
        l6.append(i)
    else:
        l7.append(i)

In [196]:
l6

[1, 2, 3, 4, 4, 5, 67, 56, 65.1]

In [197]:
l7

['raju', 'kumar', 'kernal']